<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <listener>
        <listener-class>com.novell.rolemap.servlet.listener.ContextListener</listener-class>
    </listener> 
    <context-param>
        <param-name>propsfile</param-name>
        <param-value>idmrmap.properties</param-value>
    </context-param>
    <context-param>
        <param-name>createtables</param-name>
        <param-value>createtables.sql</param-value>
    </context-param> 
    <!-- this is the timeout (in minutes) used for loading authorizations -->
    <context-param>
    	<param-name>load-auth-timeout</param-name>
    	<param-value>10</param-value>
    </context-param>
    <!-- this is the timeout (in miliseconds) used for RBPM REST Connection time out -->
    <context-param>
    	<param-name>rbpm-rest-timeout</param-name>
    	<param-value>5000</param-value>
    </context-param>
    <!-- This is Enable / Disable the Code Map sync between RMA & RBPM -->
    <context-param>
    	<param-name>enable-codemap-sync</param-name>
    	<param-value>true</param-value>
    </context-param>
    <!-- Session Listener to initialize SecurityContext for newly created session -->
	<listener>
        <listener-class>com.novell.rolemap.servlet.listener.SessionListener</listener-class>
    </listener>  
    <filter>
        <filter-name>MainFilter</filter-name>
        <filter-class>com.novell.rolemap.servlet.MainServletFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ConfigFilter</filter-name>
        <filter-class>com.novell.rolemap.servlet.ConfigServletFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SSOFilter</filter-name>
        <filter-class>com.novell.rolemap.servlet.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SSOFilter</filter-name>
        <url-pattern>/data/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MainFilter</filter-name>
        <url-pattern>/data/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ConfigFilter</filter-name>
        <url-pattern>/config/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>CSSPlatform</servlet-name>
        <servlet-class>com.novell.rolemap.servlet.PlatformCSS</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>DataSource</servlet-name>
    	<servlet-class>com.novell.rolemap.servlet.DataSourceServlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>DBImportSrv</servlet-name>
        <servlet-class>com.novell.rolemap.servlet.dbimport.DBImportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginSrv</servlet-name>
        <servlet-class>com.novell.rolemap.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuildSrv</servlet-name>
        <servlet-class>com.novell.rolemap.servlet.BuildInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutSrv</servlet-name>
        <servlet-class>com.novell.rolemap.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>EdirConnectService</servlet-name>
    	<servlet-class>com.novell.rolemap.servlet.EdirConnectServiceImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>MappingColumnConfigService</servlet-name>
    	<servlet-class>com.novell.rolemap.servlet.MappingColumnConfigServiceImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ResourceCreationConfigService</servlet-name>
    	<servlet-class>com.novell.rolemap.servlet.ResourceCreationConfigServiceImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>InitService</servlet-name>
    	<servlet-class>com.novell.rolemap.servlet.InitServiceImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>DataFetcherService</servlet-name>
    	<servlet-class>com.novell.rolemap.servlet.DataFetcherServiceImpl</servlet-class>
    </servlet>
     <servlet>
    	<servlet-name>RoleMapService</servlet-name>
    	<servlet-class>com.novell.rolemap.servlet.RoleMapServiceImpl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>CodeMapService</servlet-name>
    	<servlet-class>com.novell.rolemap.servlet.CodeMapServiceImpl</servlet-class>
    </servlet>
   <servlet>
    	<servlet-name>LoadAuthorizationsService</servlet-name>
    	<servlet-class>com.novell.rolemap.servlet.LoadAuthorizationsServiceImpl</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>ReportGenerator</servlet-name>
      <servlet-class>com.novell.rolemap.servlet.ReportServlet</servlet-class>
    </servlet>
	
    <servlet-mapping>
		<servlet-name>CSSPlatform</servlet-name>
		<url-pattern>/com.novell.rolemap.client.ui.UI/platform.css</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>DBImportSrv</servlet-name>
		<url-pattern>/data/dbimport</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>LoginSrv</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>BuildSrv</servlet-name>
		<url-pattern>/version.html</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataSource</servlet-name>
        <url-pattern>/data/datasource/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
		<servlet-name>LogoutSrv</servlet-name>
		<url-pattern>/logout.html</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>DataFetcherService</servlet-name>
		<url-pattern>/data/dataFetcherServiceRPC</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>RoleMapService</servlet-name>
		<url-pattern>/data/roleMapServiceRPC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CodeMapService</servlet-name>
		<url-pattern>/data/codeMapServiceRPC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoadAuthorizationsService</servlet-name>
		<url-pattern>/data/loadAuthorizationsServiceRPC</url-pattern>
	</servlet-mapping>	
    <servlet-mapping>
		<servlet-name>EdirConnectService</servlet-name>
		<url-pattern>/config/edirConnectServiceRPC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MappingColumnConfigService</servlet-name>
		<url-pattern>/data/mappingColumnConfigServiceRPC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceCreationConfigService</servlet-name>
		<url-pattern>/data/resourceCreationConfigServiceRPC</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>InitService</servlet-name>
		<url-pattern>/data/initServiceRPC</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>ReportGenerator</servlet-name>
      <url-pattern>/data/idmrmap.csv</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>
</web-app>

